@mixin mobile-only {
    @media all and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablette-only {
    @media all and (max-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin desktop-only {
    @media all and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tv-only {
    @media all and (max-width: map-get($breakpoints, tv)) {
        @content;
    }
}

@mixin not-mobile {
    @media all and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
}

@mixin big-tv {
    @media all and (min-width: map-get($breakpoints, tvXl)) {
        @content;
    }
}

@mixin anim-menu($i) {
    animation: fadeIn 1s ease $i;
    animation-fill-mode: both;
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(1rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}