%fondBlanc {
    background: map-get($couleurs, blanc);
}

%fondGrisFonce {
    background: map-get($couleurs, gris);
}

%fondGrisClair {
    background: map-get($couleurs, grisClair);
}

%fondGrisTresClair {
    background: map-get($couleurs, grisTresClair);
}

%fondPrimairePale {
    background: lighten(map-get($couleurs, primaire), 35%)
}

%fondVert {
    background: map-get($couleurs, vertPale);
}

%txtNoWrap {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

%txtBlanc {
    color: map-get($couleurs, blanc);
}

%txtGris {
    color: map-get($couleurs, gris);
}

%txtPrimaire {
    color: map-get($couleurs, primaire);
}

%txtGrisClair {
    color: lighten(map-get($couleurs, gris), 20%)
}

%txtVert {
    color: map-get($couleurs, vert);
}

%fontRoboto {
    font-family: 'Roboto', sans-serif;
}

%icoWajust {
    transform: scale(0.8, 0.9);
    transform-origin: center left;
}

%animBouton {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(357deg, lighten(map-get($couleurs, primaire), 2.2) 0%, lighten(map-get($couleurs, secondaire), 2.2)100%);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
    opacity: 0;
    border-radius: 2rem;
    transition: opacity 250ms;
}

%animFavorite {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: bold;
    font-style: normal;
    z-index: 1;
    content: "\f004";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 250ms;
    background-image: linear-gradient(357deg, map-get($couleurs, primaire) 0%, map-get($couleurs, secondaire)100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-text-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}