$couleurs:(primaire:#9356DC, secondaire:#FF79DA, tertiaire:#99E2D0, gris:#353535, grisClair:#EAEAEA, grisTresClair:#F6F6F6, blanc:#FFF, vert:#008766, vertPale:#99e2d0);
$breakpoints:(mobile:768px, not-mobile:500px, tablette:991px, desktop:1199px, tv:1200px);
$size:(logo:1.75rem, retour:1.2rem, marge:1.44rem, rechercher:1rem);