.cta {
    @extend %fondGrisTresClair;
    text-align: center;
    h1 {
        @extend %fontRoboto;
        padding: 2.2rem 2.3rem 0 2.3rem;
        font-size: 1.7rem;
    }
    p {
        padding: 1rem 2.3rem 0 2.3rem;
        font-size: 1.06rem;
        @extend %txtGris;
        @extend %txtGrisClair;
    }
}